#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  font-size: 2em;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 2;
}

#nav-bar span {
  padding-left: 10px;
  line-height: 80px;
  float: left;
}

#nav-bar img {
  height: 80px;
  width: 80px;
  float: left;
}

/*#compose-button li {
  list-style: none;
  text-align: center;
  background-color: white;
  margin-right: 30px;
  line-height: 60px;
  height: 1.8em;
  width: 6.5em;
  margin: 0.3em;
  float: right;
  font-size: 30px;
  padding-top: 6px;
  border-radius: 0.3em;
  opacity: .95;
  color:#33988E
}*/
/*
#buttons li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}*/

#button-container {
  height: 80px;
  line-height: 80px;
  float: right;
}

.compose-button {
  font-size: 30px;
  border-radius: 0.2em;
  /*opacity: .95;
  color: #33988E;*/
  height: 1.9em;
  line-height: 1.8em;
  padding: 0 5px;
  box-sizing: content-box;
}

div > button {
  opacity: .95;
  color: #33988E;
}

.toggleButton {
  background-color: white;
  opacity: 1;
  color: black;
  border: 1px solid black;
}

#compose-icon {
  opacity: 1;
  /*float: left;*/
  font-size: 19px;
  margin-top: 0em;
}
