
.displayed-tweet {
  margin: 0.5em;
  margin-top: 1em;
  border-radius: 12px;
  border: 1px solid #E1E1E1;
  background-color: #eee;
  z-index: 1;
  opacity: 0.7;
}

header.container {
  border-bottom:1px solid #E1E1E1;
  height: 60px;
  line-height: 60px;
}

.tweet-img {
  height: 2.5em;
  margin: 0.7em;
  display: inline;
  vertical-align: top;
}

.container > h2 {
  vertical-align: top;
  display: inline;
}

.container > p {
  margin-right: 0.5em
}


.tweet-body {
  height: 100px;
  background-color: white;
  padding: 0.5em;
}

footer.myFooter {
  border-top:1px solid #E1E1E1;
  background-color: white;
  height: 40px;
  line-height: 40px;
  border-bottom-right-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  padding-left: 0.5em;
}

.container.displayed-tweet .fa {
  float: right;
  padding: 0.6em;
  opacity: 0;
}

.container.displayed-tweet:hover {
  border: 1px solid #7F7E7E;
  opacity: 1;
}

.container.displayed-tweet:hover .fa {
  opacity: 1;
}

.hover-border {
  border: 1px solid #7F7E7E;
  opacity: 1;
}

.active-user {
  display: inline;
}
